RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^getToken$ /index.php?route=api/getToken [L,QSA]
RewriteRule ^getCases$ /index.php?route=api/getCases [L,QSA]
RewriteRule ^getCase$ /index.php?route=api/getCase [L,QSA]
RewriteRule ^getOperation$ /index.php?route=api/getOperation [L,QSA]
RewriteRule ^sendCase$ /index.php?route=api/SendCase [L,QSA]